body {
    height: 100%;
    margin: 0px;
    background-color: rgb(248, 248, 248);
    overflow: hidden;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../font/Quicksand-Medium.ttf') format('truetype');
}

#char {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    overflow: hidden;
    color: dimgrey;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
}

#char input {
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    float: right;
    font-family: inherit;
    font-size: 14px;
    background-color: white;
    color: dimgrey;
    box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 0.2);
}

#char button {
    height: 32px;
    width: 110px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
    float: right;
    font-family: inherit;
    font-size: 14px;
    background-color: #8000ff;
    color: white;
    cursor: pointer;
}

#char button:hover {
    box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 1);
    cursor: pointer;
}

#char button.delete {
    background-color: darkred;
}

#char textarea {
    height: 300px;
    width: 428px;
    float: left;
    resize: none;
    border-radius: 3px;
    border-bottom-right-radius: 0px;
    border: none;
    padding: 10px;
    font-family: inherit;
    font-size: 14px;
    margin-bottom: 5px;
    background-color: white;
    color: dimgrey;
    box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 0.2);
}

#char .image {
    float: left;
    width: 134px;
    height: 134px;
    border-radius: 100px;
    border: 3px solid #8000ff;
    overflow: hidden;
    margin-right: 10px;
    box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 0.2);
    background-color: white;
    margin: 5px;
}

#char label {
    display: inline-block;
    width: auto;
    text-align: right;
    line-height: 30px;
    float: right;
    margin-bottom: 5px;
}

#char .labelGroup, #char .smallLabelGroup {
    width: auto;
    margin-right: 10px;
    margin: 5px;
}

#char .smallLabelGroup input {
    width: 100px;
}

#char .abilityScores {
    height: 100px;
    width: 430px;
    margin: 5px;
}
#char .abilityScores .score {
    width: 210px;
    float: left;
    height: 35px;
    line-height: 30px;
}
#char .abilityScores .score input {
    width: 40px;
    margin-right: 5px;
}
#char .abilityScores .score label {
    float: left;
    width: 180px;
}

#char .abilityScores .score .abilityBonus {
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: right;
    text-align: center;
    border-top-right-radius: 3px;
    box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 0.2);
    border-radius: 30px;
    background-color: white;
}

#char::-webkit-scrollbar, #char textarea::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(92, 102, 130, 1);
    border-radius: 5px;
}

#char::-webkit-scrollbar-thumb, #char textarea::-webkit-scrollbar-thumb {
    background-color: #8000ff;
    border-radius: 5px;
}