#overview {
    height: 100%;
    width: 100%;
}

#char {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    overflow: hidden;
    color: dimgrey;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

#char input {
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    float: right;
    font-family: inherit;
    font-size: 14px;
    background-color: white;
    color: dimgrey;
    box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 0.2);
}

#char button {
    height: 32px;
    width: 110px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
    float: right;
    font-family: inherit;
    font-size: 14px;
    background-color: #8000ff;
    color: white;
    cursor: pointer;
}

#char button:hover {
    box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 1);
    cursor: pointer;
}

#char button.delete {
    background-color: darkred;
}

#char textarea {
    height: 240px;
    width: 280px;
    float: left;
    resize: none;
    border-radius: 3px;
    border-bottom-right-radius: 0px;
    border: none;
    padding: 10px;
    font-family: inherit;
    font-size: 14px;
    margin: 5px;
    background-color: white;
    color: dimgrey;
    box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 0.2);
}

#char .image {
    float: left;
    width: 134px;
    height: 134px;
    border-radius: 100px;
    border: 3px solid #8000ff;
    overflow: hidden;
    margin-right: 10px;
    box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 0.2);
    background-color: white;
    margin: 5px;
}

#char label {
    display: inline-block;
    width: auto;
    text-align: right;
    line-height: 30px;
    float: right;
    margin-bottom: 5px;
}

#char .labelGroup, #char .smallLabelGroup {
    width: auto;
    margin-right: 10px;
    margin: 5px;
}

#char .smallLabelGroup input {
    width: 100px;
}

#char .deathSaves {
    height: 90px;
    width: 150px;
    margin: 5px;
    float: left;
    border-radius: 3px;
    border: none;
    padding: 10px;
    font-size: 14px;
    background-color: white;
    color: dimgrey;
    box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 0.2);
}
#char .deathSaves .deathSave {
    height: 45px;
    width: 150px;
    line-height: 45px;
}
#char .deathSaves .deathSave input{
    height: 15px;
    width: 15px;
    margin-right: 5px;
    margin-top: 15px;
}

#char .abilityScores, #char .savingThrows, #char .skills {
    height: 205px;
    width: 210px;
    margin: 5px;
}
#char .abilityScores .score {
    width: 210px;
    float: left;
    height: 35px;
    line-height: 30px;
}
#char .abilityScores .score input, #char .savingThrows input, #char .skills input {
    width: 40px;
    margin-right: 5px;
}
#char .abilityScores .score label, #char .savingThrows label, #char .skills label {
    float: left;
    width: 180px;
}

#char .savingThrows{
    width: 180px;
}
#char .savingThrows input[type=radio], #char .skills input[type=radio] { 
    width: 15px;
    height: 15px;
    margin-top: 8px;
    margin-right: 0px;
    float: right;

    background-color: white;
    border: none;
}

#char .skills{
    width: 270px;
}
#char .skillRow {
    height: 205px;
    width: 270px;
    float: left;
}
#char .skills label {
    float: left;
    width: 270px;
}

#char .abilityScores .score .abilityBonus {
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: right;
    text-align: center;
    border-top-right-radius: 3px;
    box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 0.2);
    border-radius: 30px;
    background-color: white;
}

#char .charSpells {
    height: 260px;
    width: auto;
    min-width: 300px;
    max-width: 610px;
    float: left;
    border-radius: 3px;
    border: none;
    margin: 5px;
    background-color: white;
    color: dimgrey;
    box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 0.2);
    overflow-y: auto;
}

#char .charSpells tr {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    border-bottom: 1px dashed lightgray;
}

#char .charSpells .charSpell:hover {
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 0.2);
}

#char .charSpells td, #char .charSpells th {
    padding: 5px;
    text-align: left;
}

#char table {
    border-collapse: collapse;
}

#char::-webkit-scrollbar, #char textarea::-webkit-scrollbar, #char .charSpells::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(92, 102, 130, 1);
    border-radius: 5px;
}

#char::-webkit-scrollbar-thumb, #char textarea::-webkit-scrollbar-thumb, #char .charSpells::-webkit-scrollbar-thumb {
    background-color: #8000ff;
    border-radius: 5px;
}