.gear {
    width: 140px;
    height: 170px;
    float: left;
    color: var(--card-color);
    text-align: center;
    margin: 5px;
    border-radius: 3px;
    overflow: hidden;
    opacity: 0;
    background-color: var(--card-background-color);
    animation-name: zoomIn;
    animation-duration: 500ms;
    transition-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: var(--boxshadow);
}

.gear:hover {
    box-shadow: var(--boxshadow-hover);
    cursor: pointer;
}

.gearIcon img {
    max-width: 60px;
    max-height: 60px;
}

.gearIcon {
    margin: 15px;
    margin-left: 40px;
    margin-right: 40px;
    width: 60px;
    height: 60px;
    border-radius: 200px;
    border: 2px solid #8000ff;
    overflow: hidden;
    float: left;
}

.gearAttr {
    height: auto;
    float: left;
    padding: 10px;
}

.gearComp {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.smallGearAttr {
    height: auto;
    width: calc(100% - 20px);
    float: left;
    line-height: 10px;
    font-size: 12px;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}