
#encounterOverview {
    height: calc(100% - 40px);
    width: 100%;
    float: left;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

#encounterAddMenu {
    width: 220px;
    height: 100%;
    float: left;
    left: -200px;
    position: absolute;
    transition: left 0.5s ease-out;
    overflow: hidden;
}

#encounterAddMenu:hover {
    left: 0px;
    transition: left 0.5s ease-in;
}

#encounterAddMenu .triangle{
    height: 0px;
    width: 0px;
    position: absolute;
    top: calc(50% - 25px);
    right: 0px;
    border-style: solid;
    border-width: 25px 0 25px 20px;
    border-color: transparent transparent transparent #8000ff;
}

#encounterAddMenu #encounterAddChar {
    padding: 5px;
    width: 190px;
    height: 30%;
    background-color: var(--card-background-color);
    color: var(--card-color);
    box-shadow: var(--boxshadow);
}

#encounterAddMenu #encounterAddMonster {
    padding: 5px;
    width: 190px;
    height: calc(70% - 30px);
    margin-top: 10px;
    background-color: var(--card-background-color);
    color: var(--card-color);
    box-shadow: var(--boxshadow);
}

#encounterAddMenu .encounterAddTitle {
    width: 190px;
    height: 30px;
    line-height: 30px;
    border-bottom: var(--card-seperator-line);
}

#encounterAddMenu .encounterAddTitle input{
    height: 25px;
    border-radius: 3px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    box-shadow: var(--boxshadow);
    background-color: var(--pagination-input-background-color);
    color: var(--pagination-input-color);
}

#encounterAddMenu .encounterAddCharList, #encounterAddMenu .encounterAddMonsterList {
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    width: 190px;
    height: calc(100% - 31px);
    font-size: 12px;
}
.encounterAddCharList::-webkit-scrollbar, .encounterAddMonsterList::-webkit-scrollbar {
    width: 6px;
    background-color: var(--scrollbar);
    border-radius: 5px;
} 
.encounterAddCharList::-webkit-scrollbar-thumb, .encounterAddMonsterList::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 5px;
}

#encounterAddMenu .encouterAddItem:hover {
    background-color: var(--button-background-color);
    color: var(--button-color);
    cursor: pointer;
}

#encounterContent {
    width: calc(100% - 30px);
    min-width: 460px;
    height: calc(100% - 20px);
    float: right;
}

#encounterContent .encouterParticipant, #encounterContent .encouterParticipantHeader {
    padding: 5px;
    background-color: var(--card-background-color);
    color: var(--card-color);
    box-shadow: var(--boxshadow);
    margin-bottom: 5px;
    height: 30px;
    line-height: 30px;
}

#encounterContent .encouterParticipant.current {
    background-color: var(--button-background-color);
    color: var(--button-color);
}

#encounterContent .encouterParticipantHeader {
    background-color: var(--button-background-color);
    color: var(--button-color);
}

#encounterContent .encounterParticipantInit{
    width: 70px;
    float: left;
    height: 30px;
}

#encounterContent .encounterParticipantName{
    width: calc(100% - 450px);
    float: left;
    overflow: hidden;
    height: 30px;
    cursor: pointer;
}

#encounterContent .encounterParticipantName .image {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 10px;
    box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 0.2);
    background-color: white;
}

#encounterContent .encounterParticipantCurrentHp{
    width: 60px;
    float: left;
    height: 30px;
}

#encounterContent .encounterParticipantHp{
    width: 60px;
    float: left;
    height: 30px;
}

#encounterContent .encounterParticipantAc{
    width: 50px;
    float: left;
    height: 30px;
}

#encounterContent .encounterParticipantActions{
    width: 200px;
    float: left;
    height: 30px;
}

#encounterContent .encounterParticipantActionsTag {
    width: 169px;
    float: left;
    height: 30px;
}

#encounterContent .encouterParticipant input{
    height: 30px;
    width: calc(100% - 30px);
    border-radius: 3px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    box-shadow: var(--boxshadow);
    background-color: var(--pagination-input-background-color);
    color: var(--pagination-input-color);
}

.encounterParticipantActions button, .button {
    height: 30px;
    width: auto;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    float: left;
    font-family: inherit;
    font-size: 12px;
    background-color: var(--button-background-color);
    color: var(--button-color);
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.button {
    font-size: 14px;
}

.encounterParticipantActions button:hover, .button:hover {
    box-shadow: var(--boxshadow-hover);
    cursor: pointer;
}

.encounterParticipantActions button.delete {
    background-color: darkred;
}