#content {
    float: left;
    height: calc(100% - 60px);
    width: calc(100% - 120px);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

#itemsContent, #items {
    float: left;
    height: calc(100% - 80px);
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: 10px;
}

#items {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

#items::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(92, 102, 130, 1);
    border-radius: 5px;
} 

#items::-webkit-scrollbar-thumb {
    background-color: #8000ff;
    border-radius: 5px;
}