#overview {
    height: 100%;
    width: 100%;
}

#optionContent {
    float: left;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.optionSection {
    width: calc(100% - 30px);
    height: auto;
    padding: 10px;
    background-color: white;
    color: darkgrey;
    box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 0.2);
    word-wrap: break-word;
    margin-bottom: 10px;
    margin-top: 10px;
}

.optionSection span {
    font-size: 12px;
}

#options button {
    background-color: #8000ff;
    height: 28px;
    width: auto;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px 5px 5px 0px;
    text-align: center;
    font-family: inherit;
    font-size: 14px;
    color: white;
    cursor: pointer;
}
#options .optionSection button.patreon {
    background-color: rgb(232, 91, 70);
}
#options .optionSection button.discord {
    background-color: #7289DA;
}

#options .optionSection button {
    background-color: #8000ff;
    border-bottom: 2px solid transparent;
}

.optionSection button:hover {
    box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 1);
    cursor: pointer;
}
#options {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

#options::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(92, 102, 130, 1);
    border-radius: 5px;
} 

#options::-webkit-scrollbar-thumb {
    background-color: #8000ff;
    border-radius: 5px;
}
