#pagination {
    height: 30px;
    width: 100%;
    float: left;
    color: darkgray;
    line-height: 30px;
}

#pagination .delimiter  {
    height: 30px;
    width: auto;
    margin-left: 10px;
    margin-right: 5px;
    text-align: center;
    line-height: 30px;
    float: left;
}

#pagination .pageDown, #pagination .pageUp {
    height: 30px;
    width: 30px;
    float: left;
    display: block;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background-color: var(--button-background-color);
    color: var(--button-color);
}

#pagination .button {
    height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    display: block;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background-color: var(--button-background-color);
    color: var(--button-color);
    margin-left: 5px;
}

.pageDown {
    margin-right: 5px;
}

.pageUp {
    margin-left: 5px;
}

.pageDown:hover, .pageUp:hover {
    box-shadow: var(--button-boxshadow);
}

#pages {
    width: auto;
    height: 30px;
    float: left;
}

#pagination #pages input {
    height: var(--pagination-input-height);
    width: 50px;
    border-radius: 5px;
    box-shadow: none;
    border: var(--pagination-input-border);
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    float: left;
    box-shadow: var(--pagination-input-boxshadow);
    background-color: var(--pagination-input-background-color);
    color: var(--pagination-input-color);
}

#step select{
    height: 30px;
    width: 50px;
    float: left;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    border: var(--pagination-input-border);
    box-shadow: var(--boxshadow);
    background-color: var(--pagination-input-background-color);
    color: var(--pagination-input-color);
}