#searchBar {
    width: 100%;
    float: left;
    z-index: 100;
    max-height: 50px;
    transition: max-height 0.5s ease-out;
}

#searchBar:hover {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}

#searchBar > input {
    height: 40px;
    border-radius: 3px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    float: left;
    box-shadow: var(--boxshadow);
    background-color: var(--pagination-input-background-color);
    color: var(--pagination-input-color);
}

#searchBar select {
    height: 40px;
    border-radius: 3px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    float: left;
    box-shadow: var(--boxshadow);
    background-color: var(--pagination-input-background-color);
    color: var(--pagination-input-color);
}

#searchBar button {
    height: 40px;
    float: left;
    display: block;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background-color: var(--button-background-color);
    color: var(--button-color);
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

#searchBar button:hover {
    box-shadow: var(--boxshadow-hover);
}
  
#searchBar label {
    display: inline-block;
    width: 80px;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: right;
    color: var(--card-title-color);
    font-size: 16px;
    margin: 5px;
}

#searchBar label.small {
    width: 225px;
}

#searchBar label.left {
    float:left;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}
#searchBar label.small input{
    width: 75px;
}
#searchBar label.left input{
    float: left;
}

#searchBar .checkbox-label .checkbox-custom {
    left: 60px;
    top: 7px;
}

#searchBar *::-webkit-scrollbar {
    width: 6px;
    background-color: var(--scrollbar);
    border-radius: 5px;
}

#searchBar *::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 5px;
}