#topNav {
    width: 100%;
    height: 40px;
    float: left;
    z-index: 101;
    position: relative;
}

#topBar {
    -webkit-app-region: drag;
    width: calc(100% - 80px);
    height: 40px;
    float: left;
}


#close, #minimize {
    float: right;
    width: 40px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    border-top: 3px solid transparent;
    color: #8000ff;
    font-size: 12px;
}
#close:hover, #minimize:hover {
    border-top: 3px solid #8000ff;
    cursor: pointer;
}
