#itemView {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  color: var(--card-title-color);
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

#itemView input,
#itemView select {
  height: 30px;
  width: 300px;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  float: right;
  font-family: inherit;
  font-size: 14px;
  box-shadow: var(--boxshadow);
  background-color: var(--pagination-input-background-color);
  color: var(--pagination-input-color);
}

#itemView select {
  width: 320px;
}

#itemView button {
  height: 28px;
  width: 120px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  text-align: center;
  float: left;
  font-family: inherit;
  font-size: 14px;
  background-color: var(--button-background-color);
  color: var(--button-color);
  cursor: pointer;
}

#itemView button:hover {
  box-shadow: var(--boxshadow-hover);
  cursor: pointer;
}

#itemView button.delete {
  background-color: darkred;
}

#itemView textarea {
  height: 300px;
  width: 428px;
  float: left;
  resize: none;
  border-radius: 3px;
  border-bottom-right-radius: 0px;
  border: none;
  padding: 10px;
  font-family: inherit;
  font-size: 14px;
  margin-bottom: 5px;
  box-shadow: var(--boxshadow);
  background-color: var(--pagination-input-background-color);
  color: var(--pagination-input-color);
}

#itemView .image {
  float: left;
  width: 320px;
  height: 320px;
  overflow: hidden;
  margin-right: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 0.2);
  background-color: white;
}

#itemView label {
  display: inline-block;
  width: 390px;
  text-align: right;
  line-height: 30px;
}
#itemView label .labelText {
  float: left;
  height: 30px;
  line-height: 33px;
  font-size: 16px;
}
#itemView label input[type="checkbox"] {
  width: 15px;
  background: none;
  box-shadow: none;
  float: left;
  margin-bottom: 0px;
}

#itemView .top {
  float: left;
  width: 390px;
  height: 150px;
  margin-right: 10px;
}

#itemView img {
  width: 320px;
  margin-left: 5px;
  box-shadow: var(--boxshadow);
}

#itemView::-webkit-scrollbar,
#itemView textarea::-webkit-scrollbar {
  width: 6px;
  background-color: var(--scrollbar);
  border-radius: 5px;
}

#itemView::-webkit-scrollbar-thumb,
#itemView textarea::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 5px;
}

#itemView .checkbox-label {
  display: block;
  position: relative;
  cursor: pointer;
  clear: none;
  height: 35px;
}

#itemView .checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: none;
}

#itemView .checkbox-label .checkbox-custom {
  position: absolute;
  top: 2px;
  left: 70px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 0.2);
}

#itemView .checkbox-label input:checked ~ .checkbox-custom {
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid #ffffff;
}

#itemView .checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #8000ff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

#itemView .checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #8000ff;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

#itemView .checkbox-label input:checked ~ .checkbox-custom::before {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

/* Style for Circular Checkbox */
#itemView .checkbox-label .checkbox-custom.circular {
  border-radius: 50%;
  border: 2px solid #8000ff;
}

#itemView .checkbox-label input:checked ~ .checkbox-custom.circular {
  background-color: var(--pagination-input-background-color);
  border-radius: 50%;
  border: 2px solid var(--pagination-input-background-color);
}
#itemView .checkbox-label input:checked ~ .checkbox-custom.circular::after {
  border: solid #8000ff;
  border-width: 0 2px 2px 0;
}
#itemView .checkbox-label .checkbox-custom.circular::after {
  border-radius: 50%;
}

#itemView .checkbox-label .checkbox-custom.circular::before {
  border-radius: 50%;
  border: 2px solid #ffffff;
}

#itemView .checkbox-label input:checked ~ .checkbox-custom.circular::before {
  border-radius: 50%;
}
