#overview {
    height: 100%;
    width: 100%;
}

#mitemsOverview {
    height: calc(100% - 20px);
    float: left;
    overflow-y: hidden;
    overflow-x: hidden;
}

#mitems {
    float: left;
    height: calc(100% - 60px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
}

#mitems::-webkit-scrollbar {
    width: 6px;
    background-color: var(--scrollbar);
    border-radius: 5px;
} 

#mitems::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 5px;
}
