.spell {
    width: 200px;
    height: 250px;
    float: left;
    color: var(--card-color);
    text-align: center;
    margin: 5px;
    border-radius: 3px;
    overflow: hidden;
    background-color: var(--card-background-color);
    opacity: 0;
    animation-name: zoomIn;
    animation-duration: 300ms;
    transition-duration: 300ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: var(--boxshadow);
}

.spell:hover {
    box-shadow: var(--boxshadow-hover);
    cursor: pointer;
}

.spell .icon {
    width: 18px;
    height: 50px;
    line-height: 50px;
    float: right;
}

.spell .small {
    font-size: 6px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 6px;
}

.spell .spellAttr {
    height: auto;
    float: left;
    padding: 10px;
}

.spell .smallSpellAttr {
    height: auto;
    width: calc(100% - 20px);
    float: left;
    line-height: 10px;
    padding: 10px;
    font-size: 12px;
}

.Necromancy {
    color: #bef28e;
}

.Conjuration {
    color: #fce97a;
}

.Evocation {
    color: #db5740;
}

.Divination {
    color: #9ebed2;
}

.Enchantment {
    color: #ce90ca;
}

.Transmutation {
    color: #e19c60;
}

.Abjuration {
    color: #278ae4;
}

.Illusion {
    color: #8b42f9;
}

.spell .spellLevel {
    width: 20px;
    height: 20px;
    line-height: 20px;
    float: right;
    text-align: center;
    border-top-right-radius: 3px;
    box-shadow: var(--boxshadow-inset);
    border-radius: 30px;
    margin: 5px;
}

.spell .spellSchool {
    font-size: 12px;
    line-height: 30px;
}

.spell .spellName {
    font-size: 14px;
    border-top: var(--card-seperator-line);
    border-bottom: var(--card-seperator-line);
    width: calc(100% - 20px);
    color: var(--card-title-color);
    text-align: left;
}

.spell .spellName .image{ 
    margin-right: 10px;
    height: 37px;
    width: 37px;
    float: left;
    border-radius: 100px;
    border: 3px solid #8000ff;
    box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 0.2);
    background-color: white;
    overflow: hidden;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
