#overview {
    height: 100%;
    width: 100%;
}

#spellOverview {
    height: calc(100% - 20px);
    float: left;
    overflow-y: hidden;
    overflow-x: hidden;
}

#spells_light {
    float: left;
    height: calc(100% - 60px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
}

#spells_light::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(92, 102, 130, 1);
    border-radius: 5px;
} 

#spells_light::-webkit-scrollbar-thumb {
    background-color: #8000ff;
    border-radius: 5px;
}

#spells_dark {
    float: left;
    height: calc(100% - 60px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
}

#spells_dark::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 5px;
} 

#spells_dark::-webkit-scrollbar-thumb {
    background-color: #8000ff;
    border-radius: 5px;
}
