#raceOverview {
    height: calc(100% - 40px);
    float: left;
    overflow-y: hidden;
    overflow-x: hidden;
}

#races {
    float: left;
    height: calc(100% - 50px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--app-background-color);
}

#races::-webkit-scrollbar {
    width: 6px;
    background-color: var(--scrollbar);
    border-radius: 5px;
} 

#races::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 5px;
}

#overview .button {
    height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    display: block;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background-color: var(--button-background-color);
    color: var(--button-color);
    margin-left: 5px;
    margin-top: 5px;
}

#overview .button:hover {
    box-shadow: var(--boxshadow-hover);
    cursor: pointer;
}