.monster {
    width: 200px;
    height: 260px;
    float: left;
    color: var(--card-color);
    text-align: center;
    margin: 5px;
    border-radius: 3px;
    overflow: hidden;
    opacity: 0;
    background-color: var(--card-background-color);
    animation-name: zoomIn;
    animation-duration: 500ms;
    transition-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: var(--boxshadow);
}

.monster:hover {
    box-shadow: var(--boxshadow-hover);
    cursor: pointer;
}

.monsterIcon img {
    max-width: 90px;
    max-height: 90px;
}

.monsterIcon {
    margin-bottom: 5px;
    margin-left: 55px;
    margin-right: 55px;
    width: 90px;
    height: 90px;
    border-radius: 90px;
    border: 2px solid #8000ff;
    overflow: hidden;
    float: left;
}

.monster .icon {
    width: 18px;
    height: 18px;
}

.monster .small {
    font-size: 6px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 6px;
}

.monsterAttr {
    height: auto;
    float: left;
    padding: 10px;
}

.smallMonsterAttr {
    height: auto;
    width: calc(100% - 20px);
    float: left;
    line-height: 10px;
    padding: 10px;
    font-size: 12px;
}

.monster .monsterLevel {
    width: 20px;
    height: 20px;
    line-height: 20px;
    float: right;
    text-align: center;
    border-top-right-radius: 3px;
    box-shadow:var(--boxshadow-inset);
    border-radius: 30px;
    margin: 5px;
}

.monsterType {
    font-size: 12px;
    line-height: 30px;
    max-width: 130px;
    white-space: nowrap;
    overflow: hidden;
}

.monster .monsterName {
    font-size: 14px;
    border-top: var(--card-seperator-line);
    border-bottom: var(--card-seperator-line);
    width: calc(100% - 20px);
    color: var(--card-title-color);
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}