#monsterView {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    color: var(--card-title-color);
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

#monsterView input, #monsterView select {
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    float: right;
    font-family: inherit;
    font-size: 14px;
    box-shadow: var(--boxshadow);
    background-color: var(--pagination-input-background-color);
    color: var(--pagination-input-color);
}
#monsterView .smallLabel input {
    width: 100px;
}
#monsterView select {
    width: 220px;
}

#monsterView button {
    height: 32px;
    width: auto;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
    float: right;
    font-family: inherit;
    font-size: 14px;
    background-color: var(--button-background-color);
    color: var(--button-color);
    cursor: pointer;
}

#monsterView button:hover {
    box-shadow: var(--boxshadow-hover);
    cursor: pointer;
}

#monsterView button.delete {
    background-color: darkred;
}

#monsterView textarea {
    height: 218px;
    width: 268px;
    float: left;
    resize: none;
    border-radius: 3px;
    border-bottom-right-radius: 0px;
    border: none;
    padding: 10px;
    font-family: inherit;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: var(--boxshadow);
    background-color: var(--pagination-input-background-color);
    color: var(--pagination-input-color);
}

#monsterView textarea:hover + .textareaTip{
    opacity: 1;
    display: block;
    transition: opacity 0.3s ease-out;
}
#monsterView .textareaTip {
    position: relative;
    height: 20px;
    width: auto;
    top: -52px;
    left: 2px;
    font-size: 8px;
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease-in;
}

#monsterView textarea.small {
    height: 28px;
    width: 300px; 
    line-height: 15px;
}

#monsterView label {
    display: inline-block;
    width: 320px;
    text-align: right;
    line-height: 30px;
}

#monsterView label.smallLabel {
    display: inline-block;
    width: 150px;
    text-align: right;
    line-height: 30px;
    margin-left: 10px;
}

#monsterView .top {
    float: left;
    width: 325px;
    height: 220px;
    margin-right: 0px;
    margin-bottom: 5px;
}

#monsterView .image {
    float: left;
    width: 220px;
    height: 220px;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 0.2);
    background-color: white;
}

#monsterView .abilityScores {
    height: 220px;
    width: 220px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}
#monsterView .abilityScores .score {
    width: 210px;
    float: left;
    height: 35px;
    line-height: 30px;
}
#monsterView .abilityScores .score input {
    width: 40px;
    margin-right: 5px;
}
#monsterView .abilityScores .score label {
    float: left;
    width: 180px;
}

#monsterView .abilityScores .score .abilityBonus {
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: right;
    text-align: center;
    border-top-right-radius: 3px;
    box-shadow: var(--boxshadow);
    border-radius: 30px;
    background-color: var(--pagination-input-background-color);
}

#monsterView::-webkit-scrollbar,
#monsterView textarea::-webkit-scrollbar {
    width: 6px;
    background-color: var(--scrollbar);
    border-radius: 5px;
}

#monsterView::-webkit-scrollbar-thumb,
#monsterView textarea::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 5px;
}